
/* Non-Edit */
@media (max-width: 788px) {
    .more {
        display: none;
    }

    .card-group {
        flex-flow: row wrap;
        justify-content: space-around !important;
    }
}

.card {
    max-width: 215px;
    min-width: 150px;
}
.card-group {
    justify-content: space-between;
}

.section-header:hover {
    text-decoration: none;
    color: #243949;
}
.more:hover{
    color: #243949;
}
.section-header, .more {
    color: #497394;

}





