<body>
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<form method="POST" enctype="multipart/form-data">
				<!-- row -->
				<div class="row">
					<div class="col-md-6">
						<div class="section-title">
							<h3 class="title">Đăng sản phẩm</h3>
						</div>
						<input type="hidden" name="id" value="{{this.id}}">
						<div class="form-group">
							<input class="input" type="text" name="productName" placeholder="Tên sản phẩm" required>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="brand" placeholder="Thương hiệu" required>
						</div>
						<div class="form-group">
							<input class="input" type="text" name="pFrom" placeholder="Xuất xứ" required>
						</div>
						<div class="form-group">
							<input class="input" type="number" name="beginPrice" placeholder="Giá khởi điểm" required>
						</div>
						<div class="form-group">
							<input class="input" type="number" name="stepPrice" placeholder="Bước giá" required>
						</div>
						<div class="form-group">
							<input class="input" type="number" name="immePrice" placeholder="Giá mua ngay">
						</div>
						<div class="form-group">
							<span style="font-size: large;">Hình ảnh sản phẩm</span>
							<input type="file" name="files[]" id="filer_input" multiple="multiple" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-title">
							<h3 class="title">Mô tả sản phẩm</h3>
						</div>
						<div class="form-group">
							<textarea class="input" id="editor" name="description"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<div class="form-group"><span style="font-size: large;">Tự động gia hạn</span>
							<input type="checkbox" class="js-switch" />
						</div>
						<div class="form-group">
							<button class="main-btn btn-new">Tạo phiên đấu giá</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>