body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.modal-login {
    width: 90vw;
    min-width: 976px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border-bottom: none;
    overflow: auto;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.modal-login h4 {
    color: #F8694A;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

.modal-login .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-login .form-group {
    margin-bottom: 20px;
}

.modal-login label {
    font-weight: normal;
    font-size: 13px;
}

.modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.modal-login .form-control:focus {
    border-color: #ccc;
}

.modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
}

.modal-login .btn {
    font-size: 16px;
    font-weight: bold;
    background: #30323a;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
    background: #F8694A;
}

.modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-login a {
    color: #fff;
    text-decoration: underline;
}

.modal-login a:hover {
    text-decoration: none;
}

.modal-login a {
    color: #F8694A;
    text-decoration: none;
}

.modal-login a:hover {
    text-decoration: underline;
}

.modal-login .fa {
    font-size: 21px;
}

.modal-body {
    border-bottom: none;
}


.modal-body i {
    color: #F8694A;
}

#header {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#body {
    border-left: 1px solid orange;
    left: 50%
}