<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 fixed-aside">
                <!-- ASIDE -->
                <div id="aside" class="">
                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Tài khoản</h3>
                        <ul class="list-links">
                            <li><a href="#profile" class="active">Thông tin cá nhân</a></li>
                            <li><a href="#bid-history">Lịch sử đấu giá</a></li>
                            <li><a href="#wish-list">Danh sách yêu thích</a></li>
                            <li><a href="#sold-product">Sản phẩm đã đăng</a></li>
                            <li><a href="#seller-regis">Đăng ký làm người bán</a></li>
                            </di>
                    </div>
                    <!-- /aside widget -->
                </div>
                <!-- /ASIDE -->
            </div>

            <div class="col-md-10">
                <div id="profile">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Thông tin cá nhân</h3>
                            </div>
                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Họ và tên</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" name="name" placeholder="Họ và tên"
                                                value="Nguyễn Văn A" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Email</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="email" name="email" placeholder="Email"
                                                value="boomboomboom@gmail.com" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Địa chỉ</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" name="address" placeholder="Địa chỉ"
                                                value="Phường 15, quận Bình Thạnh, Hồ Chí Minh" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Số điện thoại</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="tel" name="tel" placeholder="Số điện thoại"
                                                value="0310204010" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Ngày sinh</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type='text' class='datepicker-here input' value="1999-1-1"
                                                data-language='en' />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <div class="form-group">
                                        <button type="button" class="main-btn btn-edit-info">Cập nhật thông
                                            tin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="bid-history">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Lịch sử đấu giá</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="history">

                                </div>
                            </div>
                            <!-- /row -->

                            <!-- store bottom filter -->
                            <div class="store-filter clearfix">
                                <div class="pull-right">
                                    <ul class="store-pages">
                                        <li><span class="text-uppercase">Trang:</span></li>
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /store bottom filter -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="wish-list">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Danh sách yêu thích</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="wish-list">

                                </div>
                            </div>
                            <!-- /row -->

                            <!-- store bottom filter -->
                            <div class="store-filter clearfix">
                                <div class="pull-right">
                                    <ul class="store-pages">
                                        <li><span class="text-uppercase">Trang:</span></li>
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /store bottom filter -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="sold-product">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Sản phẩm đã đăng</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="sold-product">

                                </div>
                            </div>
                            <!-- /row -->

                            <!-- store bottom filter -->
                            <div class="store-filter clearfix">
                                <div class="pull-right">
                                    <ul class="store-pages">
                                        <li><span class="text-uppercase">Trang:</span></li>
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /store bottom filter -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="seller-regis">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Đăng ký làm người bán <small><i
                                            class="fas fa-info-circle"></i></small></h3>
                            </div>

                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Hình thức bán hàng </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <span style="font-size: large;">Cá nhân</span>
                                            <input type="checkbox" class="js-switch-radio">
                                            <span style="font-size: large;">Doanh nghiệp</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Thoả thuận dịch vụ </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <input type="checkbox" class="js-switch">
                                            <span style="font-size: large;">Tôi đồng ý với các <a
                                                    href="javascript:void(0)" class="btn-term"
                                                    style="color: #F8694A; text-decoration: underline;">điều khoản
                                                    dịch vụ</a> của Bidhub</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <div class="form-group">
                                            <button class="main-btn btn-seller-regis">Xác nhận đăng ký <i
                                                    class="fas fa-check-double"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>