<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bidhub: Đăng nhập</title>
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-10">
                <div class="modal-login">
                    <div class="modal-content">
                        <div style="text-align: center">
                            <a href="/"><img src="./img/logo.png" alt=""></a>
                        </div>
                        <div class="modal-header">
                            <h4 class="modal-title" style="text-align: center">Đăng nhập</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <div class="input-group" style="margin: 0 auto">
                                        {{#if message}}
                                        <i class="fas fa-exclamation-circle"></i> {{message}}</span>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="color: #F8694A"><i
                                                class="fas fa-envelope"></i></span>
                                        <input type="text" class="form-control" name="email" placeholder="Email"
                                            required="required" {{#unless email}} autofocus {{/unless}}
                                            value="{{email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="color: #F8694A"><i
                                                class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Mật khẩu" required="required" {{#if email}} autofocus {{/if}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">Đăng nhập</button>
                                </div>
                            </form>
                            {{!-- <form>
                                <div class="form-group">
                                    <button type="submit" formaction="/login/fb" formmethod="POST"
                                        class="btn btn-primary btn-block btn-lg-facebook">Đăng nhập với
                                        facebook</button>
                                </div>
                                
                            </form> --}}
                            <a href="/login/fb" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> Facebook</a>
                        </div>
                        <div class="modal-footer">Chưa có tài khoản? <a href="/signup">Đăng ký</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->


    <script src="js/plugin/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
</body>