<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- MAIN -->
            <div id="main" class="col-md-12" style="text-align:center">
                <h1 style="color: #F8694A;"><i class="fas fa-exclamation-circle"></i>&nbsp;Cảnh báo</h1>
                <h3 style="margin: 20px 0 50px 0;">Không tìm thấy trang</h3>
                <img src="/img/not-found.jpg" alt="" width="500px"><br>
                <div>
                    <a href="/" style="font-size: 20px;color: #F8694A; text-decoration: underline">Trở về trang chủ</a>
                </div>
            </div>
            <!-- /MAIN -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->